@model SCS.Models.Accessories

@{
    ViewBag.Title = "Удалить";
}
<div class="container">
    <div class="divTable">
        <h3>Вы уверены что хотите удалить данный аксессуар?</h3>
        <div>
            <hr />

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <dl class="dl-horizontal">
                    <dt>
                        @Html.Label("Наименование аксессуара:")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                </dl>
                <div class="form-actions no-color">
                    <input type="submit" value="ДА" class="btn btn btn-danger float-md-left" />
                    <a class="btn btn btn-primary ml-4" href="@Url.Action("Index","Accessories")">
                        Отмена
                    </a>
                </div>
            }
        </div>
    </div>
</div>
