@{
    ViewBag.Title = "Samokat City Administration";
}
<div>
    <h3>Users</h3>
    <table>
        <tr>
            <td>Username</td>
            <td>Password</td>
            <td>Bonus</td>
        </tr>
        @foreach (var user in ViewBag.User)
        {
            <tr>
                <td><p>@user.Username</p></td>
                <td><p>@user.Password</p></td>
                <td><p>@user.Bonus</p></td>
            </tr>
        }
    </table>
</div>

