@{
    Layout = null;
}
    <div class="moreInformationOrder" id="transport">

        <div class="form-group">
            <div class="col-md-10">
                <label>Наименование тарифа</label>
                @Html.DropDownList("RatesId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label>Наименование транспорта</label>
                @Html.DropDownList("TransportId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label>Количество, шт.</label>
                <input type="number" id="countTransport" name="countTransport" class="form-control"
                       min="1" max="100" />
            </div>
        </div>

    </div>