@model IEnumerable<SCS.Models.Transport>
@{
    Layout = null;
}
<div class="moreInformationOrder" id="transport">

    <div class="form-group">
        <div class="col-md-10">
            <label>Наименование тарифа</label>
            @Html.DropDownList("RatesId", ((IEnumerable<SelectListItem>)ViewData["Menu"]), "Выберете значение", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label>Наименование транспорта</label>
            @Html.DropDownList("TransportId", ((IEnumerable<SelectListItem>)ViewData["Menu"]), "Выберете значение", htmlAttributes: new { @onchange = "countMarkup(this.value,this.id)", @class = "form-control", id = string.Format("Transport-{0}", ViewBag.countTransport) })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label>Количество, шт.</label>
            <input type="number" id=@String.Format("countTransport-{0}", ViewBag.countTransport) name="countTransport" class="form-control" value="1" 
                   min="1"  />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label>Наценка, руб</label>
            <input type="number" class="form-control" name="markup" value="0" min="0" onchange="verifyChangeMarkup(this.id)" id=@String.Format("Markup-{0}", ViewBag.countTransport) />
        </div>
    </div>

</div>




