@model IEnumerable<SCS.Models.Transport>
@{
    Layout = null;
}
<div class="moreInformationOrder" id="transport-@ViewBag.countTransport">
    <div class="form-group">
        <div class="col-md-10">
            @if (!ViewBag.createRate)
            {
                <label>Тариф</label>
                @Html.DropDownList(
                                            "RatesIdTransport",
                                            ((IEnumerable<SelectListItem>)ViewData["Menu"]),
                                            "Выберете значение",
                                            htmlAttributes: new { @class = "Rate form-control", @onchange = "calculatePrice()", @id = "Rates", @required = "required" })
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label>Наименование </label>
            @Html.DropDownList(
                               "TransportId",
                               ((IEnumerable<SelectListItem>)ViewData["Menu"]),
                               "Выберете значение",
                               htmlAttributes: new { @class = "Transport form-control", id = string.Format("Transport-{0}", ViewBag.countTransport), @onchange = "changeTransport(this.id)" }
                               )
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 accessories">
            <label>Количество (Доступно: <label id="availableTransport-@ViewBag.countTransport" style="margin-bottom:0;">0</label> шт.)</label>
            <input type="number" min="0" name="countTransport" id="countTransport-@ViewBag.countTransport" class="form-control" value="0" onchange="checkValueTransport(this);" />
        </div>
    </div>
    <button type="button" class="close bg-white border-0" aria-label="Close" onclick="deleteBlock('transport-@ViewBag.countTransport')">
        <span aria-hidden="true" class="h5">&times;</span>
    </button>

</div>
<script>

    function checkValueTransport(countTransport) {
        if (countTransport.value < countTransport.min) {
            countTransport.value = 0;
        }
        if (countTransport.value > countTransport.max) {
            countTransport.value = countTransport.max;
        };
    };
</script>



