@model IEnumerable<SCS.Models.Transport>
@{
    Layout = null;
}
<div class="moreInformationOrder" id="transport-@ViewBag.countTransport">
    <div class="form-group">
        <div class="col-md-10">
            <label>Тариф</label>
            @Html.DropDownList(
                               "RatesId",
                               ((IEnumerable<SelectListItem>)ViewData["Menu"]),
                               "Выберете значение",
                               htmlAttributes: new { @class = "Rate form-control", @onchange = "calculatePrice()", @id = @String.Format("Rates-{0}", ViewBag.countTransport) })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <label>Наименование </label>
            @Html.DropDownList(
                               "TransportId",
                               ((IEnumerable<SelectListItem>)ViewData["Menu"]),
                               "Выберете значение",
                               htmlAttributes: new { @class = "Transport form-control", id = string.Format("Transport-{0}", ViewBag.countTransport), @onchange = "changeTransport(this.id)" }
                               )
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>Наценка, руб</label>
            <input type="number" class="form-control" name="markup" value="0" min="0" max="9999" disabled="disabled" onchange="verifyChangeMarkup(this.id)" id=@String.Format("Markup-{0}", ViewBag.countTransport) />
        </div>
    </div>
    <button type="button" class="close" aria-label="Close" onclick="deleteBlock('transport-@ViewBag.countTransport')">
        <span aria-hidden="true">&times;</span>
    </button>

</div>




