@model SCS.Models.User

@{
    ViewBag.Title = "Удалить";
}
<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="divTable">
        <h2>При удалении данного пользователя будут удалены все заказы связанные с ним. Вы уверены что хотите удалить данного пользователя? </h2>
        <hr />

        <b>
            <label>Логин пользователя:</label>
        </b>
        @Html.DisplayFor(model => model.Username)
        <br />
        <b>
            <label>ФИО пользователя:</label>
        </b>
        @Html.DisplayFor(model => model.ContactUser.ShortName)
        <br />
        <div class="form-actions no-color">
            <input type="submit" value="ДА" class="btn btn btn-danger float-md-left" />
            <a class="btn btn btn-primary ml-4" href="@Url.Action("Index","Users")">
                Отмена
            </a>
        </div>
    </div>
    }
</div>
